// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.lcov-info-no-coverage {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255,0,0,0.8);
  border-radius: 1px;
}

.lcov-info-has-coverage {
  background: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0,255,0,0.8);
  border-radius: 1px;
}

.lcov-info-panel {
  cursor: default;

  // remove padding around the table
  .panel-body { padding: 0 }

  // style the table
  table {
    width: 100%;

    thead, tbody {
      width: 100%;
      display: block;
    }

    tr {
      width: 100%;

      &::after {
        content: " ";
        display: block;
        visibility: hidden;
        clear: both;
      }
    }

    th, td {
      width: 10%;

      &:nth-child(1) { width: 50% }
      &:nth-child(2) { width: 20% }
    }

    thead {
      padding: 0;

      th {
        padding: 10px;

        // sortable
        &.sort-header {
          cursor: pointer;

          &:after {
            content: "";
            float: right;
            margin-top: 4px;
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #868686 transparent;
            visibility: hidden;
          }

          &:hover:after, &.sort-up:after, &.sort-down:after {
            visibility: visible;
          }

          &.sort-up:after {
            border-bottom: none;
            border-width: 4px 4px 0;
          }
        }
      }
    }

    tbody {
      max-height: 140px;
      overflow-x: hidden;
      overflow-y: auto;

      tr {
        background: @base-background-color;
        border-bottom: 1px solid @tool-panel-background-color;

        td {
          padding: 7px 10px;

          &:first-child > span { cursor: pointer }
        }
      }
    }
  }

  // progress bar styles
  progress {
    width: 100%;

    &.green::-webkit-progress-value { background-color: @background-color-success }
    &.red::-webkit-progress-value { background-color: @background-color-error }
    &.orange::-webkit-progress-value { background-color: @background-color-warning }
  }
}

.lcov-info-status {
  cursor: pointer;

  .icon {
    margin-right: 3px;

    &.red { color: @background-color-error }
    &.orange { color: @background-color-warning }
    &.green { color: @background-color-success }
  }
}
